<!-- index.erb -->
<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/lightbox-2.6.min.js"></script>
  <link href="/css/main.css" media="all" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet" />
<title>It's Nice To See You, Too.</title>
</head>
<body>
  <div id='header'>
    <h1>Davida Marion</h1>
  </div>
  
  <div class='container'>
    <div class='social'>
      <a alt="LinkedIn link" href='http://www.linkedin.com/in/davidamarion/'> <img src='../img/linkedin.png'></a>
      <a alt="twittier link" href='https://twitter.com/DavidaMarion'> <img src='../img/twitter.png'></a>
      <a alt="github link" href='https://github.com/Sgtpluck'><img src='../img/github.png'></a>
      <a alt="Gmail link" href='mailto:davidamarion@gmail.com'><img src='../img/gmail.png'></a>      
    </div> <!--social --> 

    <div class='content'>
      <h2>Cat petter, student, writer, <a href="../img/rockclimbing.jpg" data-lightbox="rockclimbing with a sunburst" alt="davida rockclimbing in Joshua Tree">rock climber</a>, game master, burger eater, <a href="../img/walrus.jpg" data-lightbox="davida kissing a walrus" alt="Davida kissing a walrus">walrus lover</a>, and fantasy-football player.</h2>
    </div> <!-- content -->
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div> <!-- container -->
    <div class='bottom'>
        <img src='../img/sleeping.png'>
    </div>

</body>
  <footer>
    <a alt="Link to Am I Going To Die dot org" href="http://amigoingtodie.org/">Are you going to die?</a>
  </footer>
</html>