<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/lightbox-2.6.min.js"></script>
  <link href="/css/main.css" media="all" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet" />
<title>It's Nice To See You, Too.</title>
</head>
<body>
  <div id='header'>
    <h1>Davida Marion</h1>
  </div>
  
  <div class='container'>
    <div class='social'>
      <a href='http://www.linkedin.com/in/davidamarion/'> <img alt="LinkedIn link" src='../img/linkedin.png'></a>
      <a href='https://twitter.com/DavidaMarion'> <img alt="twittier link"  src='../img/twitter.png'></a>
      <a href='https://github.com/Sgtpluck'><img alt="github link" src='../img/github.png'></a>
      <a href='mailto:davidamarion@gmail.com'><img alt="Gmail link" src='../img/gmail.png'></a>      
    </div> <!--social --> 

    <div class='content'><main role="main">
      <h2>Cat petter, student, writer, <a href="../img/rockclimbing.jpg" data-lightbox="rockclimbing with a sunburst">rock climber</a>, game master, burger eater, <a href="../img/walrus.jpg" data-lightbox="davida kissing a walrus">walrus lover</a>, and fantasy-football player.</h2></main>
    </div> <!-- content -->
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div> <!-- container -->
    <div class='bottom'>
        <img src='../img/sleeping.png' alt="davida sleeping with her two cats">
    </div>

</body>
  <footer>
    <a href="http://amigoingtodie.org/">Are you going to die?</a>
  </footer>
</html>