<!-- index.erb -->
<title>Cats Reviewing Burgers</title>

Sgt Pluck reviews <a href="http://8ozburgerbarsea.com/">8 Oz Burger Bar:</a> <br><br>

Order:<br>  
The 8oz. (house blend, wild baby arugula, balsamic onions, hemplers bacon, beecher's flagshiip, truffle aioli) with fries.<br> <br>

Review:<br>
Meow meow meow meow mrrrrk? Meow meow meow. Mew mew mew mrrrrrrrk mrow meow. Purr purr purr purr.<br><br>

Leftovers:<br>
None.
