

<div class='content'>
    <h2>Cat petter, <a href="./posts/">student</a>, writer, <a href="../img/rockclimbing.jpg" data-lightbox="rockclimbing with a sunburst">rock climber</a>, game master, burger eater, <a href="../img/walrus.jpg" data-lightbox="davida kissing a walrus">walrus lover</a>, and fantasy-football player.</h2>
    </div> <!-- content -->
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
    <div class='bottom'>
        <img src='../img/sleeping.png' alt="davida sleeping with her two cats">
    </div>
