
    <div class='social'>
      <a href='http://www.linkedin.com/in/davidamarion/'> <img alt="LinkedIn link" src='../img/linkedin.png'></a>
      <a href='https://twitter.com/DavidaMarion'> <img alt="twittier link"  src='../img/twitter.png'></a>
      <a href='https://github.com/Sgtpluck'><img alt="github link" src='../img/github.png'></a>
      <a href='mailto:davidamarion@gmail.com'><img alt="Gmail link" src='../img/gmail.png'></a>      
    </div> <!--social --> 

    <div class='content'><main role="main">
      <h2>Cat petter, <a href="./posts/">student</a>, writer, <a href="../img/rockclimbing.jpg" data-lightbox="rockclimbing with a sunburst">rock climber</a>, game master, burger eater, <a href="../img/walrus.jpg" data-lightbox="davida kissing a walrus">walrus lover</a>, and fantasy-football player.</h2></main>
    </div> <!-- content -->
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
    <div class='bottom'>
        <img src='../img/sleeping.png' alt="davida sleeping with her two cats">
    </div>
