<!DOCTYPE html>
<html>
  <head>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/lightbox-2.6.min.js"></script>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet" />
      <title>It's Nice To See You, Too.</title>
  </head>

  <body class='index'>
    <div id='header'>
      <h1><a href='/'><img src='../img/home.jpg'></a><%= locals[:title] %></h1>
    </div>

    <div class='social'>
      <a href='http://www.linkedin.com/in/davidamarion/'> <img alt="LinkedIn link" src='../img/linkedin.png'></a>
      <a href='https://twitter.com/DavidaMarion'> <img alt="twittier link"  src='../img/twitter.png'></a>
      <a href='https://github.com/Sgtpluck'><img alt="github link" src='../img/github.png'></a>
      <a href='mailto:davidamarion@gmail.com'><img alt="Gmail link" src='../img/gmail.png'></a>      
    </div> <!--social -->  

    <div role='main' class='container'>
    
      <%= yield %> <!-- this is the magic code to make the content go --> 
   
    </div>
  </body>
    <footer>
      <a href="http://amigoingtodie.org/">Are you going to die?</a>
    </footer>
</html>