<!DOCTYPE html>
<html>
  <head>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/lightbox-2.6.min.js"></script>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet" />
      <title>It's Nice To See You, Too.</title>
    </head>
  <body>
    <div id='header'>
      <h1>Davida Marion</h1>
    </div>

    <div role="main" class='container'>

      <%= yield %> <!-- this is the magic code to make the content go --> 
   
    </div>
    <footer>
    <a href="http://amigoingtodie.org/">Are you going to die?</a>
    </footer>
  </body>
</html>