

<div class='posts'>
<% @sorted_posts.each do |post, data_array| %>
    <h3> <%= data_array["date"] %>:  <a href="/posts/<%= post %>" ><%= data_array["title"] %></a> </h3>
    <%= data_array["snippet"] %></p><br>
    <% end %>

  </div>
