

<div class='posts'>
<% @sorted_posts.each do |post, data_array| %>
      <a href="/posts/<%= post %>" > <h3> <%= data_array["title"] %> </h3></a>
        <p><%= data_array["snippet"] %></p>
    <% end %><br><br>

  </div>
