<h2>Next Weekend I'll List My Groceries, Too</h2>

<h3>Weekly Record</h3>

<ul>
  <li>Books finished this week: Two, <em>The Skies Belong To Us</em> and <em>Rework</em></li>
  <li>Books started: One, <em>Cryptonomicon</em>. I must get it done for book club, but it's sooo long. So I'm not letting myself read ANYTHING ELSE until I get it done. (I may break this promise.)</li>
  <li>Movies watched: A surprising two, Clue and Love Actually. (No, nothing new.)</li>
  <li>Rock climbing trips: One</li>
  <li>Seahawks games attended: ONE! (#gohawks)</li>
  <li>Miles walked: <strong>at least 24</strong>. Yeah, I'd be impressed but most of it is literally walking to/from school.</li>
  <li>Words written in my novel: ZERO. Dammit.</li>
  <li>TV shows watched: Zero. I'm behind in everything. No spoilers!</li>
</ul>
<h3>An Explanation</h3>

<p>Look, I'm not good at blogging about myself, and I'd rather be reading right now than staring at a blank page, trying to figure it out. So let me just cut to the chase and say; there's a lot of stuff I want to be doing that I'm not and I think if I start tracking it, I'll magically find time to do them. (The magic in this case means, spending less time aimlessly reading dumb blogs, scanning Facebook, or reloading what-would-i-say.com to generate (admittedly hilarious) Facebook statuses for myself.)</p>

<p>I'm amazed at the amount of stuff that's in my brain that wasn't three weeks ago. People ask me if I feel like I'm actually learning anything, and I never feel like I can express HOW MUCH. Three and a half weeks ago I was making ice cream. Three weeks ago I was learning about strings. Two weeks ago I build a program that randomly generated a solar system. (A text one. Not as beautiful and romantic as it sounds in some ways, but more than it sounds for me.) This past week, I was manipulating csv files like a boss. (Well, like a slow boss.) I dream in code, now. Yes, I'm learning things, more than I have in years, and every day my brain shows up, happy and eager to absorb more. Sure, sometimes we move too quickly and I have to go home and look over my notes and do practice problems, and no, I haven't achieved any kind of expertise of real fluency in what we're doing, but there's a real pride in looking at someone else's code and thinking, "I see what's going on. This is a thing that I can track," rather than "OH MY GOD WHAT IS THAT."</p>