date: 11-11-2013
title: The Big 3-0
snippet: In which I don't really talk about turning 30.

<h2>Nothing To See Here, Folks.</h2>
<p> I turned thirty last weekend! I don't have a lot to say about it, except that I'm excited not to be a twentysomething anymore. (I've basically felt like I'm thirty for ten years.)</p>

<p> The best part of turning thirty was having an excuse to see all the friends I've been neglecting. I feel like I've not stopped for a second since I got the (very happy) email telling me that I was accepted into Ada. Friends, hobbies, books, exercise -- all have been tossed to the wayside as I've immersed myself in Ruby and git. I haven't used my brain particularly seriously in a few years, so engaging in this kind of tough, rigorous learning has taken a lot out of me. I'm exhausted seemingly all the time, but at the same time, I have a hard time turning off my brain to go to sleep. So understandably I haven't felt like I've had a lot of time for things other than school. </p>

<p>I didn't really have a party so much as an afternoon gathering at <a href="http://standardbrew.com/">Standard Brew</a>, the local nanobrewery (SEATTLE!), where people could filter in and out as much as they wanted. And it was really great to set apart some time and see people and talk about things other than programming. (Although, of course, many folks wanted to know what's taken over my life so significantly, and I love talking about it.)</p>

<p> Right now it's hard to justify spending time doing anything but practicing programming and commiting changes and stuffing more methods and logic into my brain. But life balance is obviously important too. I think the more confident I get in my skills as a developer, the better I'll be able to focus my attention on other things. So it seems I'm probably in for a few more weeks of hermithood. Which is fine, cause I'm thirty now. </p>