date: 11-04-2013
title: A Brief History Of Fast Changes.
snippet: Saying yes to opportunity.

<h2> Week One. </h2>

<p>One week ago, I was an ice cream maker. Literally. Every morning, I got up and went to one of the popular ice cream shops on Capitol Hill, fired up some inventory spreadsheets, and dumped combinations of ingredients into the commercial ice cream machine. Three weeks and two days ago, after work, I went to Elliott Bay Book Store, and changed into interview clothes in the bathroom. I scrubbed my hands and face, trying to expunge as much of the ice cream smell that I could. Finally, feeling sloppy and unkempt, I walked downtown, took a deep breath, put on my game face, and walked into the Technology Alliance building for an interview with <a="http://www.adadevelopersacademy.org">Ada Developers Academy</a></p>

<p>Five months ago, I lived in a different state. I was working as a freelance writer/editor, unable to find a full-time job that fulfilled me intellectually or morally. I wasn't very happy with where I was, or the pursuits that seemed to be available to me. My friend who worked at the ice cream store told me there was going to be an opening; I jumped on the opportunity and sent in my resume. I got the job, and a week later, I was road-tripping up to Seattle, with promises to my cat that she would soon follow me north. (Note: She has.)</p>

<p> In brief: I make big life decisions quickly. (Hastily, some might say.) I've moved cross country four times now, not always with a job or a plan in place beforehand. But when the window of opportunity opens for a brief moment, why not jump through, head first? You never know when that window is going to slam shut, after all.</p>

<p> So, here I am. Two weeks of Ada done, and my brain is chock-full of all this stuff that wasn't there before. I'm dreaming in code, and my cat is really mad that I'm spending all my time on my computer, and I haven't read a book in two weeks. And when I look back at how far I've come in a mere six months, it's unbelievable.</p>


