date: 12-01-2013
title: NaNoWriMo, Time, Etc.
snippet: Why is writing so hard?


<h2>Writing A Novel Didn't Happen This Year</h2>
<p>The past few years, every November, I've participated in <a href='http://nanowrimo.org'>National Novel Writing Month</a>. For those of you not in the know, NaNoWriMo, as it's abbreviated, is a challenge to write a 50,000 word novel during the course of November. That's about the length of the Great Gatsby. I've lost count of the number of times I've done it, but at least five. I have written at least five full-length novels. (It should be noted, that only one of them I was happy enough to dive back into to revise, and I have no illusions about them ever getting published or anything like that.)</p>

<p>NaNoWriMo is hard; it requires a lot of time, a lot of production, and, more than anything else, a TON of persistence. Part of the challenge is stripping away your own conceptions of how to write – when you're tasked with producing 1700 words per day, you don't have time to stop and think and worry about whether each sentence is perfect. You can't edit as you go; you can just write and write and hope that it more or less makes sense.</p>

<p>I didn't do NaNoWriMo this year; I just don't have the time. I'm still working on a rewrite from last year, and what with trying to balance school and learning to code and build things (like this beeeeooooootiful website!) if I wanted to crank out a novel, I would have to sacrifice sleep, which is not an option right now. (I could have attempted <a href='https://github.com/dariusk/NaNoGenMo'>NaNoGenMo</a>, which is a pretty cool idea.)</p>

<p>So this all raises a really important question: why is it so goddamn difficiult to write these blog posts? They're 500-1500 words long, which should be a piece of cake. A sneeze. And yet, when it comes to creating words about my own experiences, I just can't. What's interesting is that none of us Adies seem particularly interested in writing blogs about ourselves. I don't know if this is because we're all a particular type of person, or because we'd just rather expend our mental efforts in another direction right now. My vote is for the latter, but I'm interested in the ramifications of the former.</p>