title: Love, Catually
date: 11-25-2013
snippet: I bought a url. Again.

<h2> Love, Catually. </h1>

<p>This weekend, I made the most amazing typo ever. I had, as my previous post notes, watched "Love Actually," and was gchatting about it with someone, and accidentally typed 'Love Catually." </p>

<p>Long story short: I'm now the proud owner of lovecatually.com. I can't believe that no one was squatting on it. It's not the best url, but a cat pun on a major (albeit ten years old) movie? That's gold right there. Now all I have to do is figure out how to exploit it for riches. Or at least mine it for jokes.</p>

<p>My web presence is secretly quite broad, if amateur. I have two blogs that I haven't maintained for quite some time now, even though I keep meaning to get back to them. My favorite's a blog of photographs my old stupid-phone took in my pocket, because of a fairly serious design flaw that meant if I work tight pants, it would take photos until the memory ran out. </p>

<p>My current "personal website", <a href="amigoingtodie.org">Am I Going To Die?</a>, is a site I made just over a year ago, with basically zero web skills. (Amigoingtodie.com was taken! Can you believe it?) I have it hosted on Dreamhost (when I bought my first url for a brief business venture that didn't go anywhere, I managed to avoid the easy mistake of buying from GoDaddy, both because I think their commercials are disgusting and because I have smart friends who rightly informed me that they are The Worst.) and I don't touch it, ever; every now and then I get a Google Analytics update and I remember that I have it. It's basically the best joke that I keep playing on myself.</p>

<p>I have no recollection of how I did it. Well, that's not exactly true. I'm sure I googled around a bunch, and found some javascript that did more or less what I wanted it to do and replaced it with some text. And then added the windy frowny and threw in a marquee tag and voila, magic. (ALSO check out that favicon. Pure gold, right?)</p>

<p>Anyway, the point is, I'm pretty excited about lovecatually.com, BUT, I think I'm going to wait a couple of weeks  before doing anything solid with it. Looking at the weekly schedule, we're starting Rails next week, and then building and building on those skills. Amigoingtodie.org is perfect as far as I'm concerned -- it's exactly what I want that site to be. Lovecatually, however, will benefit from my newly learned skills, and be perfect in its own special way.</p>