title: Ridin' The Rails
date: 12-08-2013
snippet:

<h1>Ridin' The Rails</h1>
<h2>This ... Was A Rough Week.</h2> 

  <p>Shadae and I, working on our cookbook project, spent at least 3 hours chasing an uninitialized constant error that about ten lines was causing. The worst part was that we had already implemented the feature successfully for two other relationships; for some reason, this one just wasn't working. To make it worse, it was only not working when we updated an existing record; we could make a new one just fine. So even though we had all the clues about where the error might be, it still took us <em>hours</em> to work it out. (And the help of Bookis.)</p>
  
  <p> So, obviously, the reason that this was a rough week was because we started actually learning Rails. Sure, we did RailsBridge on the second day of class, and I think we all got apps to work, but there was verrrry little comprehension. When I figured out how to get Suggestotron to sort votes by number, well, I felt like a magical (accidental!) genius. Now, we're learning how to actually build the things that we slapped together and it turns out, we didn't have a lot of comprehension that week because um Rails is hard.</p>

<h2> This ... Was A Great Week </h2>
  
  <p>YES, obviously those three hours were incredibly frustrating and horrible. But, I learned about how to do some basic debugging with 'raise params.inspect.' And ultimately, we solved it, and moved on to other stuff, like creating a prettier UI, and implementing a search field that utilized our join tables to search in multiple databases. And even though the deployment took a bunch of time, we finally made it happen. Our cookbook app is by no means perfect, it does ... <a href='http://burgerbook.herokuapp.com'>exist</a>, and I'm proud of it, and of us, for making it happen.</p>

  <p>Web development is a lot like conditioning training ... you never feel like you're making any progress, because as you get better it gets harder. It's hard to stop and reflect about how much better you've gotten at things because each task is more difficult. It feels like you're constantly slamming your forehead against the keyboard, or collapsing in the grass, gasping for breath. I assume next week will be rougher because it'll be harder. But our next project will be similarly <em> better </em> and so on and so on.</p>



